.layout__logo {
  width: 120px;
  height: 120px;
}

.layout__container {
  width: 100%;
  background-color: #CDCDCD;
  display: flex;
  flex-direction: row;
}

.layout__sidebar {
  width: 280px;
  height: 100vh;
  background-color: #041629;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.layout__sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.layout__header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 20px;
  color: #000;
  text-transform: capitalize;
}

.layout__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.layout__navigation ul li {
  list-style: none;
  padding: 10px 0;
  text-align: left;
  text-decoration: none;
}

.layout__navigation li a, .layout__navigation li span {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.layout__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
}

.layout__content {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .layout__sidebar {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
  }
  /* .layout__sub-container {
    display: none;
  }  */
}